.library-container {
    display: flex;
    margin-top: 20px;
    width: 50%;
    margin-left: 25%;
    height: calc(100vh - 140px);
    box-sizing: border-box;
    border: 1px solid rgba(241, 220, 101, 0.952);
    background: 
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../../assets/strangefriendscaptive2.jpg') no-repeat;
    background-size: cover;
    font-size: 20px;
    border-radius: 25px;

    @media (max-width: 768px) {
        width: 100%;
        margin-left: 0%;
        border-radius: 0px;
        border: 1px solid #000
      }

    //option 2
    // width: 100%;
    // height: calc(100vh - 120px);
    // // box-sizing: border-box;
    // // border: 1px solid #333;
    // background: 
    // // linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    // url('../../assets/strangefriendscaptive2.jpg') center no-repeat;
    // background-size: contain;

    a {
        color: white;
        text-shadow: 1px 1px 2px black;
    }
    ul {
        color: yellow;
    }
}