.noongar-season {
  // font-family: 'GothicBirthdayCake';
  color: rgb(209, 83, 146);
   text-shadow: 0 0 5px rgba(0,0,0,0.5);
}

// .noongar-season-title {
//   font-size: 1.5em;
//   font-weight: bold;
//   margin-bottom: 5px;
// }

// .noongar-season-subtitle {

// }

.noongar-season-hover {
  cursor: help;
  color: #3498db;
  text-decoration: underline dotted;
  display: inline-block;
  margin-top: 10px;
}

.noongar-season.error {
  color: #e74c3c;
  font-weight: bold;
}
