.display-linebreak {
    white-space: pre-line;
    color: pink;
    list-style-type: none;
    font-family: "Kirang Haerang", system-ui;
    font-weight: 400;
    font-style: normal;
    width: 50%;
    li {
        margin-bottom: 2em;
    }
}

.poetry-container {
    background-color: white;
    padding-top: 12px;
}