.p-page {

  .spacer {
    height: 30px;
  }
  .chi {
    float: right;
    position: fixed;
    bottom: 46px;
    right: 20px;
    z-index: 1;

    @media (max-width: 768px) {
      z-index: 1;
    }
}

h1 {
  // top: 0;
  // padding-top: 12px;
  // float: right;
  // margin: 6px;
  text-shadow: 2px 1px 2px black;
  text-align: center;

  @media (max-width: 768px) {
    padding-top: 0px;
  }
}

.title {
  color: #F0F0F0;
}

}

body {
  // background: rgb(10, 1, 1);
    background: 
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../../assets/pinkhairgirl.jpg');
      /* Magic combination */
  background-size: cover;
  width: 100%;
  // background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed !important; /* Optional: Creates parallax effect */
  // width: 100%;
}

// body { 
//   background: 
//     linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
//     url('../../assets/pinkhairgirl.jpg') center/cover no-repeat;
//       /* Magic combination */
//   background-size: cover;
//   background-position: center;
//   background-repeat: no-repeat;
//   background-attachment: fixed; /* Optional: Creates parallax effect */
  
//   /* Ensure full viewport coverage */
//   width: 100vw;
//   height: 100vh; /* Use min-height: 100vh if content exceeds screen */
// }

.p-page {
  @media (max-width: 768px) {
    h1 {
      text-align: center;
    }
    display: hidden;
  }
}
// @media (max-width: 768px) {
//   h1 {
//     text-align: center;
//   }
// }

// .p-page {
//   .mobile {
//     @media (max-width: 768px) {
//       display: hidden;
//     }
//   }
// }
