.display-linebreak {
    white-space: pre-line;
    color: white;
    list-style-type: none;
    font-family: "Kirang Haerang", system-ui;
    font-weight: 400;
    font-style: normal;
    width: 50%;
    position: relative;
    z-index: 5;
    li {
        margin-bottom: 2em;
    }
}

.poetry-container {
    isolation: isolate;
    background-color: rgba(0, 0, 0, 0.602);
    padding-top: 12px;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 25px;
    border: 1px solid rgb(255, 148, 166);
    margin-top: 30px;
    margin-bottom: 30px;
}