.tumblr-header {
    h1 {
        margin: 0;
        color: pink;
        text-align: center;
        padding-bottom: 0.1em;
    } 
}
// h1 {
//     margin: 0;
//     color: pink;
//     text-align: center;
//     padding-bottom: 0.1em;
// }