.chi {
    float: right;
    position: fixed;
    bottom: 46px;
    right: 20px;
    z-index: 10001;

    @media (max-width: 768px) {
      z-index: -1;
    }
}

h1 {
  margin-left: 40px;
  top: 0;
}

.title {
  color: white;
}

body { background: 
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../assets/pinkhairgirl.jpg') center/cover no-repeat;
      /* Magic combination */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; /* Optional: Creates parallax effect */
  
  /* Ensure full viewport coverage */
  width: 100vw;
  height: 100vh; /* Use min-height: 100vh if content exceeds screen */
  @media (max-width: 768px) {
    width: 100%;
    min-width: 100%;
    height: auto;
  }
}

.mobile {
  @media (max-width: 768px) {
    display: hidden;
  }
}