@import url('https://fonts.googleapis.com/css2?family=Kirang+Haerang&display=swap');

* {
  font-family: "Kirang Haerang", system-ui;
  /* cursor: url('./assets/clover.png'), 10 10, auto;
  a:hover {
    cursor: url('./assets/spatter.png'), 10 10, auto;
  };
  img:hover {
    cursor: url('./assets/spatter.png'), pointer;
  }
  button:hover {
    cursor: url('./assets/spatter.png'), pointer;
  };
  label:hover {
    cursor: url('./assets/spatter.png'), pointer;
  }; */
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  background: 
  linear-gradient( rgba(0, 0, 0, 0.5)),
  url('./assets/pinkhairgirl.jpg');
    /* Magic combination */
background-size: cover;
width: 100%;
background-position: center;
background-repeat: no-repeat;
background-attachment: fixed !important; /* Optional: Creates parallax effect */
width: 100%;
}
