@import url('https://fonts.googleapis.com/css2?family=Kirang+Haerang&display=swap');

/* @font-face {
  font-family: 'GothicBirthdayCake';
  src: local("GothicBirthdayCake"),url('./fonts/Gothic_Birthday_Cake.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'CelticMd';
  src: local("CelticMd"),url('./fonts/celticmd.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Elven';
  src: local("Elven"),url('./fonts/elvencommonspeak.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
} */

* {
  font-family: "Kirang Haerang", system-ui;
  /* font-family: "Times New Roman", Times, serif; */
  /* cursor: url('./assets/clover.png'), 10 10, auto;
  a:hover {
    cursor: url('./assets/spatter.png'), 10 10, auto;
  };
  img:hover {
    cursor: url('./assets/spatter.png'), pointer;
  }
  button:hover {
    cursor: url('./assets/spatter.png'), pointer;
  };
  label:hover {
    cursor: url('./assets/spatter.png'), pointer;
  }; */
}


/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

body { 
  margin: 0;
  /* isolation: isolate; */
  background: 
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('./assets/pinkhairgirl.jpg') center/cover no-repeat;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;

  @media (max-width: 768px) {

    background: black;
  }

  @supports (-webkit-touch-callout: none) {
    body {
      position: fixed;
      width: 100%;
      background-attachment: scroll !important;
    }
  }

}