@import url('https://fonts.googleapis.com/css2?family=Kirang+Haerang&display=swap');

* {
  font-family: "Kirang Haerang", system-ui;
  cursor: url('./assets/clover.png'), auto;
  a:hover {
    cursor: url('./assets/spatter.png'), pointer;
  };
  img:hover {
    cursor: url('./assets/spatter.png'), pointer;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
